<tr>
  <td><%= name_and_description(server_image) %></td>
  <% if include_game_info %>
    <td><%= server_image.game.name %></td>
  <% end %>
  <td><%= server_image.ami_id %></td>
  <td><%= format_date(server_image.created_at) %></td>
</tr>
