<% if servers.empty? %>
  <p class="text-left">No hay ningún servidor corriendo.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre de imagen</th>
        <th>Estado</th>
        <th>Última actualización</th>
        <th>IP pública</th>
        <th>ID de instancia</th>
      </tr>
    </thead>
    <tbody>
      <%= partial 'servers/server', collection: servers %>
    </tbody>
  </table>
<% end %>
