<% if servers.empty? %>
  <p class="text-left">No hay ningún servidor corriendo.</p>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID de instancia</th>
          <% if include_game_info %>
            <th>Juego</th>
          <% end %>
          <th>Nombre de imagen</th>
          <th>Estado</th>
          <th>IP pública</th>
          <th>Fecha de terminación</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <%= partial 'servers/server', collection: servers, locals: {include_game_info: include_game_info} %>
      </tbody>
    </table>
  </div>
<% end %>
