<h1>Aprobación de cuenta pendiente</h1>

<div class="row mt-5">
  <div class="col">
    <p>
      Tu cuenta está pendiente de aprobación, vas a recibir un mail cuando sea aprobada.
    </p>
  </div>
</div>
