<h1>Nuevo juego</h1>

<div class="row">
  <div class="col-xs col-sm-8">
    <%= partial 'games/form', locals: { game: @game, form_url: url(:games, :create), submit_label: 'Crear', form_method: :post } %>
  </div>
</div>
