<h1>Opciones Avanzadas</h1>

<ul class="opciones">
  <li><a href="<%= url(:games, :index) %>">Juegos</a></li>
  <li><a href="<%= url(:users, :index) %>">Usuarios</a></li>
  <li><a href="<%= url(:server_images, :index) %>">Imagenes de servidores</a></li>
  <li><a href="<%= url(:servers, :index) %>">Servidores</a></li>
</ul>
