<h1>Juegos</h1>

<div class="mt-3 mb-3 row clearfix">
  <div class="col-4 offset-md-8 text-right">
    <% form_tag  url_for(:servers, :refresh_all) do %>
      <button type="submit" class="btn btn-primary">Actualizar estado</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="mt-3 col">
    <% @games.each do |game| %>
      <h2><%= game.name %></h2>
      <div class="col-4 mb-3 offset-md-8 text-right">
        <a href="<%= url(:servers, :launch, game_id: game) %>" class="btn btn-primary">Lanzar servidor</a>
      </div>

      <%= partial 'servers/table', locals: { servers: game.servers.not_terminated, include_game_info: false } %>
    <% end %>
  </div>
</div>


