<h1>Servidores corriendo</h1>

<div class="mt-3 mb-3 row clearfix">
  <div class="col-4 offset-8 text-right">
    <% form_tag  url_for(:servers, :refresh) do %>
      <button type="submit" class="btn btn-primary">Actualizar estado</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="mt-3 col">
    <%= partial 'servers/table', locals: {servers: @servers} %>
  </div>
</div>
