<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="<%= url(:games, :index) %>">Juegos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= url(:users, :index) %>">Usuarios</a>
  </li>
</ul>
